<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96f0f5">  <td>16/07/23 18:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testMethod(java.lang.String, int)[pri:0, instance:Driver.NewTest@36d4b5c]">testMethod</td> 
  <td>PoolService-2@34369211</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>16/07/23 18:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testMethod(java.lang.String, int)[pri:0, instance:Driver.NewTest@36d4b5c]">testMethod</td> 
  <td>PoolService-2@34369211</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>16/07/23 18:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testMethod(java.lang.String, int)[pri:0, instance:Driver.NewTest@36d4b5c]">testMethod</td> 
  <td>PoolService-2@34369211</td>   <td></td> </tr>
</table>
